# This is my actual config for ArtixLinux.
# You can start by commenting out everything and then uncommenting/adding options on demand.


# Absolute directory paths to search RECURSIVELY for binaries and libraries, in addition to defaults.
# Space-separated, may be specified multiple times. Missing directories will be silently ignored.
# Defaults are defined in src/defaults_Arch.hpp.
#
# Libraries found in scanMoreLibs directories (but NOT in their subdirectories) will participate in resolution
# like if they were appended to LD_LIBRARY_PATH. Order of directories is important: it's search priority.
#
#scanMoreBins=/usr/local/bin /root/bin /home/me/bin
#scanMoreLibs=/usr/local/lib /root/lib /home/me/lib


# Syntax: ignoreFiles=/pathWithWildcards
# Must be absolute path starting with '/'.
# Wildcards are: '?' (any char except '/'), '*' (0+ any chars except '/'), "**" (0+ any chars).
#
ignoreFiles=/usr/lib/dbeaver/plugins/com.sun.jna_*/com/sun/jna/freebsd-**
ignoreFiles=/usr/lib/dbeaver/plugins/com.sun.jna_*/com/sun/jna/sunos-**
ignoreFiles=/usr/lib/dbeaver/plugins/com.sun.jna_*/com/sun/jna/linux-riscv64/**


# Syntax: addOptDepend={packageName} {optDependPackageName}
# Here you can specify package optional dependencies maintainers forgot about.
#
addOptDepend=abseil-cpp gtest
addOptDepend=libreoffice-fresh coin-or-clp
addOptDepend=qt6-speech libspeechd
addOptDepend=wine lib32-gstreamer


# Syntax: addLibPath={package|/abs/file/path|/abs/directory/path/**} {/abs/directory/path}
# Adds specified directory as library search path for {all files in package | specific file | all files in directory and its subdirectories}.
# Directory is added with highest priority (before RPATH), because package-specific libs may override system ones.
# Applies to optional dependencies too: e.g. script resolves `libjawt.so` for `libreoffice-fresh` even if I don't have `java-runtime` installed. 
#
#addLibPath=cairo /usr/lib/cairo
addLibPath=cuda /opt/cuda/targets/x86_64-linux/lib
addLibPath=firefox /usr/lib/firefox
#addLibPath=graphviz /usr/lib/R/lib
addLibPath=jdk-openjdk /usr/lib/jvm/java-22-openjdk/lib/server
#addLibPath=jre-openjdk /usr/lib/jvm/java-22-openjdk/lib/server
addLibPath=libreoffice-fresh /usr/lib/jvm/java-22-openjdk/lib
#addLibPath=libreoffice-still /usr/lib/jvm/java-22-openjdk/lib
addLibPath=librewolf /usr/lib/librewolf
addLibPath=postgresql /usr/lib/perl5/5.38/core_perl/CORE
addLibPath=qtcreator /usr/lib/qtcreator
addLibPath=smbclient /usr/lib/samba
addLibPath=thunderbird /usr/lib/thunderbird
addLibPath=wine /usr/lib/wine/x86_64-unix
addLibPath=wine /usr/lib32/wine/i386-unix
