/target
/local

# QtCreator's stuff.
/*.creator.user
/.qtc_clangd
# By default QtCreator sets BuildDirectory in {project}.creator.user to project root
# where makefile resides (which is correct: it's where `make` is supposed to start).
# These files were created in project root by QtCreator's experimental clangd mode:
.cache
compile_commands.json

